<div class="font-[sans-serif] bg-slate-950 p-4 h-screen pt-32">
  <div class="md:max-w-5xl max-w-xl mx-auto">
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div class="lg:col-span-2 max-md:order-1">
        <h2 class="text-3xl font-extrabold text-slate-100">Pay products</h2>
        <p class="text-slate-100 text-sm mt-4">Complete your transaction swiftly and securely with our easy-to-use
          payment process.</p>

        <form class="mt-8 max-w-lg">
          <div class="grid gap-4">
            <div>
              <input type="text" placeholder="Cardholder's Name"
                class="px-4 py-3.5 bg-gray-100 text-gray-800 w-full text-sm border rounded-md focus:border-blue-500 outline-none" />
            </div>
            <form (submit)="handleSubmit($event)" class="w-full flex flex-col gap-4">
              <div id="card-element" class="p-3 bg-gray-100 rounded"></div>
              <button type="submit" class="bg-green-500 text-black font-medium py-3 rounded-md hover:bg-green-600">
                Pay
              </button>
            </form>
          </div>
        </form>
      </div>

      <div class="bg-slate-100 p-5 max-md:p-3 rounded-md">
        <h2 class="text-3xl max-md:text-2xl font-bold text-gray-800">{{state.price() | currency}}</h2>
        <ul class="text-gray-800 mt-8 space-y-3">
          @for (cartItem of state.products(); track cartItem?.product?._id) {
          <li class="flex flex-wrap gap-4 text-lg overflow-hidden whitespace-nowrap max-sm:text-sm text-ellipsis">
            <span class="flex-1 truncate" title="{{cartItem.product.title}}">{{cartItem.product.title}}</span>
            <span class="ml-auto font-bold">{{cartItem.quantity}}</span>
            <span>x</span>
            <span class="ml-auto font-bold">{{cartItem.product.price | currency}}</span>
          </li>
          }
          <li class="flex flex-wrap gap-4 text-lg font-bold border-t-2 pt-4">Total
            <span class="ml-auto">
              {{state.price() | currency}}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>