<footer class="flex justify-center mx-auto max-w-screen-lg px-10 pb-5">
    <div class="w-full rounded-2xl shadow-sm bg-slate-900">
        <div class="p-4 flex flex-wrap items-center justify-between">
            <span class="text-sm font-medium text-gray-500 sm:text-center dark:text-gray-400">© 2025 <a href="/"
                    class="hover:underline">E-Shop</a>. All Rights Reserved.
            </span>
            <ul
                class="flex flex-wrap gap-x-4 items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
                <li>
                    <a href="https://github.com/Busid1" target="_blank" class="hover:underline"><i
                            class="fab fa-github text-xl"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/busid/" target="_blank" class="hover:underline"><i
                            class="fab fa-linkedin text-xl"></i></a>
                </li>
                <li>
                    <a href="https://busid.netlify.app/" target="_blank" class="hover:underline"><i
                            class="fas fa-globe text-xl"></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>