<div class="mt-20 py-10 max-w-screen-lg mx-auto px-10 min-h-screen">
    <h2 class="flex items-center text-3xl font-semibold mb-7">Purchased products</h2>
    <div class="flex flex-wrap justify-center gap-5">
        @for (purchaseItem of purchases; track purchaseItem?.product?._id) {
        <div
            class="flex flex-1 min-w-[250px] max-w-[300px] flex-col gap-4 pb-3 bg-slate-900 rounded-xl shadow-md hover:shadow-lg border border-slate-800">
            <img class="rounded-t-xl object-cover w-full h-60"
                [src]="purchaseItem.product.image ? purchaseItem.product.image : 'https://www.svgrepo.com/show/508699/landscape-placeholder.svg'"
                [alt]="purchaseItem.product.title">
            <div class="px-5 flex flex-col gap-3">
                <div class="flex gap-3 items-end justify-between w-full">
                    <span class="font-semibold text-xl truncate">{{purchaseItem.product.title}}</span>
                    <span class="font-semibold">{{purchaseItem.product.price | currency}}</span>
                </div>
                <span>Quantity: {{purchaseItem.quantity}}</span>
            </div>
        </div>
        }
    </div>
</div>