<div class="flex flex-col mt-20 gap-5 p-4 max-w-screen-xl mx-auto px-20 min-h-screen">
    <h2 class="flex items-center justify-center mt-5 text-2xl font-semibold">Productos comprados</h2>
    <div class="mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4 auto-rows-auto">
        @for (purchaseItem of purchases; track purchaseItem?.product?._id) {
            <div class="flex flex-col items-center gap-4 pb-3 bg-slate-800 rounded-xl shadow-md hover:shadow-lg">
                <img class="rounded w-full object-cover h-72" [src]="purchaseItem.product.image" [alt]="purchaseItem.product.title">
                <div class="flex justify-around w-full">
                    <span>{{purchaseItem.product.title}}</span>
                    <span>Price: {{purchaseItem.product.price | currency}}</span>
                </div>
                <span>Quantity: {{purchaseItem.quantity}}</span>
            </div>
        }
    </div>
</div>